@page "/"
@inject NavigationManager NavigationManager

<button class="nav-link btn btn-primary" @onclick="@GlobalSetter" href="GameDisplay" style="border-radius: 50px">Play</button>
<div class="border-bottom mt-4">
	<PlayerSelectorMenu/>
</div>
<div class="border-bottom mt-4">
	<RuleSelectorMenu></RuleSelectorMenu>
</div>
<div class="border-bottom mt-4">
	<TournamentSelectorMenu></TournamentSelectorMenu>
</div>


@code {
	private void GlobalSetter() {
		if (GlobalState.Dealer is null || GlobalState.Finisher is null
		    || GlobalState.Generator is null || GlobalState.Matcher is null
		    || GlobalState.Scorer is null || GlobalState.Turner is null) return;
		if (GlobalState.Tournament is null) return;
		if (GlobalState.Teams is null) return;
		GlobalState.Teams = GlobalState.Teams.Where(t => t.Value.Count != 0).ToDictionary(t => t.Key, t => t.Value);
		if (GlobalState.Teams.Count <= 1) return;
		GlobalState.Judge = new Judge<int>(GlobalState.Generator, GlobalState.Dealer, GlobalState.Turner, GlobalState.Matcher, GlobalState.Scorer, GlobalState.Finisher);
		GlobalState.Tournament.SetJudge(GlobalState.Judge);
		GlobalState.Tournament.SetTeams(GlobalState.Teams.Values.ToList());
		GlobalState.Reset();
		GlobalState.Created = true;
		
		NavigationManager.NavigateTo("Game");
	}

}