.domino {
  display: grid;
  background-color: black;
  width: 302px;
  height: 150px;
  grid-gap: 2px;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.49) solid 3px;
}

.domino-vertical {
  width: 150px;
  height: 302px;
}

.domino > .face {
  background-color: #b0b075;
}

.face{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-top{
  grid-row: 1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.face-bottom{
  grid-row: 2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.face-right{
  grid-column: 2;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.face-left{
  grid-column: 1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}