/* /DominoModel/DominoModelComponents/Token.razor.rz.scp.css */
.domino[b-e99w8xw08p] {
  display: grid;
  background-color: black;
  width: 302px;
  height: 150px;
  grid-gap: 2px;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.49) solid 3px;
}

.domino-vertical[b-e99w8xw08p] {
  width: 150px;
  height: 302px;
}

.domino > .face[b-e99w8xw08p] {
  background-color: #b0b075;
}

.face[b-e99w8xw08p]{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-top[b-e99w8xw08p]{
  grid-row: 1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.face-bottom[b-e99w8xw08p]{
  grid-row: 2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.face-right[b-e99w8xw08p]{
  grid-column: 2;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.face-left[b-e99w8xw08p]{
  grid-column: 1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-t3tsyokbip] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-t3tsyokbip] {
    flex: 1;
}

.sidebar[b-t3tsyokbip] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-t3tsyokbip] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t3tsyokbip]  a, .top-row[b-t3tsyokbip]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-t3tsyokbip]  a:hover, .top-row[b-t3tsyokbip]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-t3tsyokbip]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-t3tsyokbip] {
        display: none;
    }

    .top-row.auth[b-t3tsyokbip] {
        justify-content: space-between;
    }

    .top-row[b-t3tsyokbip]  a, .top-row[b-t3tsyokbip]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t3tsyokbip] {
        flex-direction: row;
    }

    .sidebar[b-t3tsyokbip] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t3tsyokbip] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-t3tsyokbip]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-t3tsyokbip], article[b-t3tsyokbip] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-qqlcpevhud] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qqlcpevhud] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-qqlcpevhud] {
    font-size: 1.1rem;
}

.oi[b-qqlcpevhud] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qqlcpevhud] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-qqlcpevhud] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-qqlcpevhud] {
        padding-bottom: 1rem;
    }

    .nav-item[b-qqlcpevhud]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-qqlcpevhud]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-qqlcpevhud]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qqlcpevhud] {
        display: none;
    }

    .collapse[b-qqlcpevhud] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
